{% extends 'basic.html' %}
{% load static %}

{% block title %}
{% block gta_title %}
{% endblock %}
{% endblock %}

{% block cssLink %}
{% static 'theGurkul/gurkul_test/css/gta_basic.css' %}
{% endblock %}

{% block cssLink_2 %}
{% endblock %}

{% block body %}

<div class="gta_big_container">
    <div class="gta_pages_options">
        <div class="gta_navigations {% block gta_navigate_add_questions %}{% endblock %}"><a href="/gurkul_test/test_series/GTA_questions"><i class="text-warning fas fa-school "></i> ADD/Edit GTA Questions</a>
        </div>
        <div class="gta_navigations"><a href="#"></a></div>
    </div>
    <div>
        {% block gta_body %}
        {% endblock %}
    </div>
</div>

{% endblock %}

{% block jsLink %}
{% static 'theGurkul/gurkul_test/js/gta_basic.js' %}
{% endblock %}

{% block jsLink_2 %}
{% endblock %}