{% extends 'gurkul_student/student_profile/student_profile_basic.html' %}

{% block cssPro %}
<style>
    .achr{
        color: red;
    }
</style>
{%  endblock %}

{% block profile %}
<div class="container-fliud">
    <h1 style="background-color: rgba(0, 0, 255, 0.589); color:red; display:flex; justify-content:center;padding: 5px;">My Account</h1><br>
    <div class="container-fluid">
        <h2>Your account details</h2><hr class="achr">

        <table class="table table-dark table-striped">
            <thead>
              <tr>
                <th scope="col">Last</th>
                <th scope="col">Handle</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Otto</td>
                <td>@mdo</td>
              </tr>
            </tbody>
          </table>

    </div>
</div>
{% endblock %}

