{% extends 'basic.html' %}
{% block title %}
{{request.user.first_name}} {{request.user.last_name}} Profile
{% endblock %}

{% block css %}
<style>
    .std_profile_base_container {
        background-color: rgba(0, 0, 0, 0);
        display: grid;
        grid-template-columns: 400px 1fr;
        grid-template-rows: 1fr;
        margin: 0.5px;
    }

    .std_profile_base_container_nav {
        background-color: rgb(0, 0, 0);
    }

    .std_profile_base_container_data {
        background-image: linear-gradient(45deg, #bbffb5, #007cff);
        min-height: 800px;
    }
    .disabled{
        background-color: #000000;
        border: 1px solid black;
        border-radius: 7px;
        opacity: 0.4;
    }
</style>

<style>
    .navProLi {
        width: 100%;
        display: flex;
        justify-content: start;
        color: red;
    }

    .main_pro_show {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .navProHead {
        color: rgb(255, 255, 255);
    }

    .nav_pro_hr{
        color: rgb(255, 255, 255);
        width: 100%;
        border: 1px dotted red;
    }

    a {
        text-decoration: none;
    }

    .iconbgw {
        color: red;
        margin-right: 10px;
    }

    #pro_img {
        width: 200px;
        margin: 10px;
    }
    #dropdown_menu_nav{
        background-color: #2d2d2d; 
        padding-top: 10px;
        overflow: hidden;
    }
    .dropdown_menu_nav_item{
        margin-top: 10px; 
        margin-left: 10px;
        border-left: 1px solid red; 
        border-top-left-radius: 7px; 
        border-bottom-left-radius: 7px; 
        padding: 10px;
    }
</style>
<style>
    @media screen and (max-width:1250px) {

        .std_profile_base_container {
            grid-template-columns: 300px 1fr;
        }

    }
</style>
<style>
    @media screen and (max-width:1000px) {

        .std_profile_base_container {
            grid-template-columns: 1fr;
            grid-template-rows: 70px 1fr;
        }

        .main_pro_show_container {
            display: flex;
            align-items: center;
            width: 85px;
        }

        #pro_img {
            width: 50px;
        }
        .user_name_id{
            display: none;
        }
        .main_pro_show{
            justify-content: start;
        }
        
        /* css for dropdown */
        #dropdown_menu_nav{
        background-color: #ffffff; 
        }
        .nav_pro_hr{
            display: none;
        }


    }
</style>
{% block cssPro %}
{% endblock %}

{% endblock %}

{% block active_profile %}
active
{% endblock %}

{% block body %}

{% load static %}

{% if user.is_authenticated %}

<div class="std_profile_base_container">
    <div class="std_profile_base_container_nav">
        <div id="profile_dropdown" class="navCont">

            <div class="main_pro_show_container" id="user_img_dropdown">
                <div class="main_pro_show"><img src="{% static 'usrs/img/unknown_profile/profile.png' %}" alt=""
                        id="pro_img"></div>

                <div class="main_pro_show user_name_id">
                    <h4 style="color: yellow;">{{request.user.first_name}} {{request.user.last_name}}
                        ({{student_id}})</h4>
                </div>

            </div>

            <div id="dropdown_menu_nav">

                <div class="{% block active_profile_option_profile %}{% endblock %} dropdown_menu_nav_item">
                    <li class="navProLi"><a href="/user/profile">
                            <h5 class="navProHead"><i class="fas fa-user iconbgw"></i>Profile</h5>
                        </a></li>
                </div>
                <hr class="nav_pro_hr">

                
                {% if profile_data_existence == "False" %}
                <div class="{% block active_profile_option_personal_details %}{% endblock %} dropdown_menu_nav_item">
                    <li class="navProLi"><a href="/gurkul_student/edit_profile/">
                            <h5 class="navProHead"><i class="mx-2 text-danger fas fa-exclamation-circle"></i>Complete
                                Your
                                Profile</h5>
                        </a></li>

                    </div>
                    {% else %}
                    <li class="navProLi nav-link disabled"><a 
                        href="/gurkul_student/edit_profile/">
                        <h5 class="navProHead"></i>Complete Your
                                Profile <i class="mx-2 fas fa-check"></i></h5>
                    </a></li>

                    {% endif %}


                <hr class="nav_pro_hr">

                
                {% if educational_data_existence == "False" %}
                <div class="{% block active_profile_option_educational_details %}
                {% endblock %} dropdown_menu_nav_item">
                    <li class="navProLi"><a href="/gurkul_student/edit_educational_profile/">
                            <h5 class="navProHead"><i class="mx-2 text-danger fas fa-exclamation-circle"></i>Add Educational Details</h5>
                        </a></li>

                    </div>
                    {% else %}
                    <li class="navProLi nav-link disabled"><a 
                        href="/gurkul_student/edit_educational_profile/">
                        <h5 class="navProHead"></i>Add Educational Details<i class="mx-2 fas fa-check"></i></h5>
                    </a></li>

                    {% endif %}



                <hr class="nav_pro_hr">
            </div>
        </div>
    </div>

    <div class="std_profile_base_container_data">
        {% block profile %}
        {% endblock %}
    </div>
</div>


{% else %}
<div class="forbidden" style="background-image: linear-gradient(red,white,green);
height: 100vh;
width: 100vw;
display: flex;
justify-content: center;
align-items: center;
position: absolute;
top: 0px;
right: 0px;">
    <i class="fas fa-skull-crossbones" style="color: rgb(17, 0, 255); font-size: 10vw;"></i>
    <pre style="color: black; font-size: 5vw;">Please login to access profile.....</pre>
</div>

{% endif %}

{% endblock %}

{% block js %}
<script>
    $(document).ready(function () {
        //  code for profile dropdown
        var window_size = window.innerWidth
        if (window_size < 1001) {
            // adding classes and attribute for dropdown
            $('#profile_dropdown').addClass('dropdown')
            $('#user_img_dropdown').addClass('dropdown-toggle')
            $('#user_img_dropdown').attr('data-bs-toggle', 'dropdown')
            $('#user_img_dropdown').attr('aria-expanded', 'false')
            $('#dropdown_menu_nav').addClass('dropdown-menu')
            $('.dropdown_menu_nav_item').addClass('dropdown-item')
        }
        else if(window_size>1000){
            // adding classes and attribute for dropdown
            $('#profile_dropdown').removeClass('dropdown')
            $('#user_img_dropdown').removeClass('dropdown-toggle')
            $('#user_img_dropdown').removeAttr('data-bs-toggle', 'dropdown')
            $('#user_img_dropdown').removeAttr('aria-expanded', 'false')
            $('#dropdown_menu_nav').removeClass('dropdown-menu')
            $('.dropdown_menu_nav_item').removeClass('dropdown-item')
            }

        $(window).resize(function(){
            var window_size = window.innerWidth
            if(window_size<1001){
            // adding classes and attribute for dropdown
            $('#profile_dropdown').addClass('dropdown')
            $('#user_img_dropdown').addClass('dropdown-toggle')
            $('#user_img_dropdown').attr('data-bs-toggle', 'dropdown')
            $('#user_img_dropdown').attr('aria-expanded', 'false')
            $('#dropdown_menu_nav').addClass('dropdown-menu')
            $('.dropdown_menu_nav_item').addClass('dropdown-item')
            }
            else if(window_size>1000){
            // adding classes and attribute for dropdown
            $('#profile_dropdown').removeClass('dropdown')
            $('#user_img_dropdown').removeClass('dropdown-toggle')
            $('#user_img_dropdown').removeAttr('data-bs-toggle', 'dropdown')
            $('#user_img_dropdown').removeAttr('aria-expanded', 'false')
            $('#dropdown_menu_nav').removeClass('dropdown-menu')
            $('.dropdown_menu_nav_item').removeClass('dropdown-item')
            }


        })


    })
</script>
{% block jsPro %}
{% endblock %}

{% endblock %}