{% extends 'basic.html' %}
{% block title %}
{{request.user.first_name}} {{request.user.last_name}} Profile
{% endblock %}

{% block css %}
<style>
    .std_profile_base_container {
        background-color: rgba(0, 0, 0, 0);
        display: grid;
        grid-template-columns: 300px 1fr;
        grid-template-rows: 1fr;
    }

    .std_profile_base_container_data {
        background-image: linear-gradient(90deg, #ffffff, rgb(0, 195, 255), #007cff);
        min-height: 800px;
    }

    .disabled {
        background-color: #000000;
        border: 1px solid black;
        border-radius: 7px;
        opacity: 0.4;
    }
</style>

<style>
    .main_pro_show {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .navProHead {
        color: rgb(255, 255, 255);
    }

    #pro_img {
        width: 200px;
        margin: 10px;
    }

    #dropdown_menu_nav {
        padding-top: 10px;
        overflow: hidden;
    }

    .dropdown_menu_nav_item {
        margin-top: 10px;
        margin-left: 10px;
        border-left: 1px solid red;
        border-top-left-radius: 7px;
        border-bottom-left-radius: 7px;
        padding: 10px;
    }
</style>
<style>
    @media screen and (max-width:1000px) {

        .std_profile_base_container {
            grid-template-columns: 1fr;
            grid-template-rows: 70px 1fr;
        }


        #pro_img {
            width: 50px;
        }

        .user_name_id {
            display: none;
        }

        .main_pro_show {
            justify-content: start;
        }

        /* css for dropdown */
        #dropdown_menu_nav {
            background-color: #646464;
        }


    }
</style>
<style>
    /* css of lists */
    .all_type_list a {
        text-decoration: none;
        font-size: 20px;
        color: white;
    }

    .series_options {
        border-left: 5px solid red;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        margin: 20px 0px 20px 10px;
    }
</style>
{% block cssPro %}
{% endblock %}

{% endblock %}

{% block active_profile %}
active
{% endblock %}

{% block body %}

{% load static %}

{% if user.is_authenticated %}

<div class="std_profile_base_container">
    <div class="all_type_list" style="background-color: #646464;">
        
        <div id="user_img_dropdown">
            <div class="main_pro_show"><img src="{% static 'usrs/img/unknown_profile/profile.png' %}" alt=""
                    id="pro_img"></div>
            <div class="main_pro_show user_name_id">
                <h4 style="color: yellow;">{{request.user.first_name}} {{request.user.last_name}}
                    ({{student_id}})</h4>
            </div>
        </div>

        <div id="dropdown_menu_nav">

            <div class="series_options {% block active_profile_option_profile %}{% endblock %}"
                style="display: flex; justify-content: space-around;">
                <a href="/user/profile" style="text-align: center;">
                    <i class="fas fa-user text-danger"></i> Profile
                </a>
            </div>

            {% if profile_data_existence == "False" %}
            <div class="series_options {% block active_profile_option_personal_details %}{% endblock %}"
                style="display: flex; justify-content: space-around;">
                <a href="/gurkul_student/edit_profile/" style="text-align: center;">
                    <i class="text-danger fas fa-exclamation-circle"></i> Complete Your Profile
                </a>

            </div>
            {% else %}
            <div class="series_options nav-link disabled"
            style="display: flex; justify-content: space-around;">
            <a href="/gurkul_student/edit_profile/" style="text-align: center;">
                </i> Complete Your Profile <i class="mx-2 fas fa-check text-primary"></i>
            </a>
            </div>

            {% endif %}




            {% if educational_data_existence == "False" %}
            <div class="series_options {% block active_profile_option_educational_details %}
                {% endblock %}" style="display: flex; justify-content: space-around;">
                <a href="/gurkul_student/edit_educational_profile/" style="text-align: center;">
                    <i class="mx-2 text-danger fas fa-exclamation-circle" ></i> Add Educational Details
                </a>
            </div>
            {% else %}
            <div class="series_options nav-link disabled"
            style="display: flex; justify-content: space-around;">
            <a href="/gurkul_student/edit_educational_profile/" style="text-align: center;">
                </i> Add Educational Details<i class="mx-2 fas fa-check text-primary"></i>
            </a>
            </div>

            {% endif %}
        </div>
    </div>

    <div class="std_profile_base_container_data">
        {% block profile %}
        {% endblock %}
    </div>
</div>


{% else %}
<div class="forbidden" style="background-image: linear-gradient(red,white,green);
height: 100vh;
width: 100vw;
display: flex;
justify-content: center;
align-items: center;
position: absolute;
top: 0px;
right: 0px;">
    <i class="fas fa-skull-crossbones" style="color: rgb(17, 0, 255); font-size: 10vw;"></i>
    <pre style="color: black; font-size: 5vw;">Please login to access profile.....</pre>
</div>

{% endif %}

{% endblock %}

{% block js %}
<script>
    $(document).ready(function () {
        //  code for profile dropdown
        
        function small_window_profile(){
            // adding classes and attribute for dropdown
            $('#profile_dropdown').addClass('dropdown')
            $('#user_img_dropdown').addClass('dropdown-toggle')
            $('#user_img_dropdown').attr('data-bs-toggle', 'dropdown')
            $('#user_img_dropdown').attr('aria-expanded', 'false')
            $('#dropdown_menu_nav').addClass('dropdown-menu')
            $('.dropdown_menu_nav_item').addClass('dropdown-item')

        }

        function big_window_profile(){
            // adding classes and attribute for dropdown
            $('#profile_dropdown').removeClass('dropdown')
            $('#user_img_dropdown').removeClass('dropdown-toggle')
            $('#user_img_dropdown').removeAttr('data-bs-toggle', 'dropdown')
            $('#user_img_dropdown').removeAttr('aria-expanded', 'false')
            $('#dropdown_menu_nav').removeClass('dropdown-menu')
            $('.dropdown_menu_nav_item').removeClass('dropdown-item')

        }

        // code when window loaded
        var load_device_width = window.innerWidth
        if (load_device_width > 999) {
            big_window_profile()
        }

        else if (load_device_width < 1000) {
            small_window_profile()
        }

        // code when device with is resizes
        $(window).resize(function () {
        var load_device_width = window.innerWidth
        if (load_device_width > 999) {
            big_window_profile()
        }
        else if (load_device_width < 1000) {
            small_window_profile()
            }
        })

    })
</script>
{% block jsPro %}
{% endblock %}

{% endblock %}