{% extends 'basic.html' %}
{% block title %}
{{request.user.first_name}} {{request.user.last_name}} Profile
{% endblock %}

{% block css %}
<style>
    .navProLi {
        width: 100%;
        display: flex;
        justify-content: start;
        color: red;
    }

    .main_pro_li {
        width: 100%;
        display: flex;
        justify-content: center;
        color: #fbff00;
        font-size: 25px;
    }

    .navProHead {
        color: rgb(253, 252, 252);
    }

    .navProAnch {
        text-decoration: none;
        color: rgb(255, 254, 254);
    }

    hr {
        color: rgb(255, 255, 255);
        width: 100%;
    }

    a {
        text-decoration: none;
    }

    .iconbgw {
        color: red;
        margin-right: 10px;
    }

    .navCont {
        width: 400px;
        min-height: 1000px;
        background-color: rgb(0, 0, 0);
    }

    #pro_img {
        width: 200px;
        margin: 10px;
    }

    .contentCont {
        width: calc(100% - 400px);
        min-height: 1000px;
        background-color: rgb(55, 54, 54);
        overflow: scroll;
    }

    @media screen and (max-width:950px) {
        .navCont {
            width: 100%;
            height: auto;
            min-height: unset;
        }

        .pro_ul {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
        }

        #pro_img {
            width: 60px;
        }

        .navProLi {
            width: auto;
            /* display: inline-block; */
            justify-content: unset;
            float: left;
        }

        .main_pro_li {
            justify-content: end;
        }

        .nav_pro_hr {
            display: none;
        }

        .small_width_navProli {
            display: none;
        }

        .contentCont {
            width: 100%;
            height: auto;
            background-color: rgb(55, 54, 54);
        }
    }
</style>

<style>
    /* css for grid profile */
    .profile_big_container {
        display: grid;
        grid-template-columns: 300px 1fr;
        min-height: 700px;
        justify-content: center;
    }
</style>

{% block cssPro %}
{% endblock %}
{% endblock %}

{% block active_profile %}
active
{% endblock %}

{% block body %}

{% load static %}


{% if user.is_authenticated %}

<div class="profile_big_container">

    <div style="background-color: rgb(97, 72, 72); padding: 5px;">

        <div class="profile_img" style="display: flex; justify-content: center;">
            <img src="{% static 'usrs/img/unknown_profile/profile.png' %}" alt="" style="width: 200px;">
        </div>

        <li class="main_pro_li small_width_navProli">{{request.user.first_name}} {{request.user.last_name}}
            ({{teacher_id}})</li><br>
        <li class="navProLi mx-3"><a href="/user/profile">
                <h5 class="navProHead"><i class="fas fa-user iconbgw"></i>Profile</h5>
            </a></li>
        <hr class="nav_pro_hr">


        {% if profile_data_existence == "False" %}
        <li class="navProLi mx-3"><a href="/gurkul_teacher/edit_profile">
                <h5><i class="fas fa-exclamation-circle iconbgw"></i>Complete Your Profile
                </h5>
            </a></li>
        <hr class="nav_pro_hr">
        {% else %}
        <li class="navProLi mx-3"><a href="/gurkul_teacher/edit_profile/">
                <h5> <i class="fas fa-edit iconbgw"></i> Edit Your Profile<i class="mx-2 fas fa-check text-primary"></i></h5>
            </a></li>
        <hr class="nav_pro_hr">
        {% endif %}

        <li class="navProLi mx-3"><a href="/gurkul_test/test_series/GTA_questions">
            <h5><i class="fas fa-file-alt iconbgw"></i> Add/Edit Test Series</h5>
        </a></li>
        <hr class="nav_pro_hr">


    </div>


    <div style="background-color: rgb(255, 255, 255);">


        {% block profile %}
        {% endblock %}


    </div>

</div>
{% else %}
<div class="forbidden" style="background-image: linear-gradient(red,white,green);
height: 100vh;
width: 100vw;
display: flex;
justify-content: center;
align-items: center;
position: absolute;
top: 0px;
right: 0px;">
    <i class="fas fa-skull-crossbones" style="color: rgb(17, 0, 255); font-size: 10vw;"></i>
    <pre style="color: black; font-size: 5vw;">Please login to access profile.....</pre>
</div>

{% endif %}

{% endblock %}