{% extends 'basic.html' %} 
{% block title %} 
Contact 
{% endblock %} 
{% block active_contact %}
active
{% endblock %}
{% block css %}
<style>
  .conContainer {
    border: 1px solid black;
    border-radius: 15px;
  }
  .conContainer:hover {
    border-color: greenyellow;
    box-shadow: 0px 0px 10px black;
  }
  .card-text {
    color: black;
  }
  .formDiv{
    width: 59%; 
  }
  /* css for responsiveness */
  @media screen and (max-width:770px) {
    #contImg{
      display: none;
    }
    .formDiv{
      width: 100%;
    }
  }

  .contBtn{
    background-color: blue;
    color: white;
  }
  .contBtn:hover{
    background-color: red;
    color: black;
  }
</style>
{% endblock %} {% block body %} {% load static %}

<div
  style="
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  "
>
  <h1>Talk with our Experts</h1>
</div>

<!-- html of contact info and  contact form-->
<div
  class="container-fluid"
  style="
    background-color: transparent;
    align-items: center;
  "
>
  <!-- contact info.. -->
  <div
    class="conContainer my-5"
    style="overflow: hidden; box-shadow: 0px 0px 20px rgb(132, 131, 131)"
  >
    <div class="row">
      <div class="card">
        <div class="card-body" style="margin: 3px">
          <h4 class="card-text text-danger" style="display:flex;justify-content: center;">Phone</h4>
          <h3 class="card-text" style="display:flex;justify-content: center;">9696357798</h3>
          <h3 class="card-text text-danger" style="display:flex;justify-content: center;">Head Office</h3>
          <h3 class="card-text" style="display:flex;justify-content: center;">
            Near Indira Stadium , Civil Line flat No. 16/15 Bahraich (Uttar
            Pradesh)
          </h3>
          <div style="display: flex; justify-content: end;">
          <a href="/about/" class="btn btn-primary">More About Us >></a>
            </div>
        </div>
      </div>
    </div>
  </div>

  <!-- contact form -->
  <div
    class="container my-3"
    style="
      padding: 20px;
      border: 1px solid black;
      border-radius: 15px;
      display: flex;
      align-items: center;
    "
  >
    <div class="formDiv">
      <h3>Send Your Massage</h3>
      <div class="contactForm">
        <form action="/contact/" class="my-3 mx-3" method="POST">{% csrf_token %}
          <div class="my-3">
            <label for="inputName" class="form-label">Name</label>
            <input type="text" name="inputName" class="form-control" id="inputName" required/>
          </div>
          <div class="my-3">
            <label for="inputEmail" class="form-label">Email</label>
            <input type="email" name="inputEmail" class="form-control" id="inputEmail" required/>
          </div>
          <div class="my-3">
            <label for="Vtype" class="form-label">Type Visitor</label>
            <select
              id="Vtype"
              name="Vtype"
              class="form-select text-dark"
              style="
                border: 1px solid rgb(144, 144, 144);
                border-radius: 7px;
                color: white;
              "
            >
              <option selected>Choose...</option>
              <option>Student</option>
              <option>Teacher</option>
              <option>Other</option>
            </select>
          </div>
          <div class="mb-3 my-3">
            <label for="desc" class="form-label"
              >Describe your querry here</label
            >
            <textarea
              class="form-control"
              id="desc"
              rows="3"
              name="desc"
            ></textarea>
          </div>


          <div>
            <h6 class="mx-2 my-2">Enter captcha without space</h6>
            <div class="cpatcha_img" style="display: flex;justify-content: center;flex-wrap: wrap; background-color: black; overflow: hidden; margin: 10px; border: 1px solid red; border-radius: 10px;">
              <div class="mx-2 my-2"
                style="background-image: linear-gradient(45deg,red,green,yellow,pink);width: 100px; display: flex; justify-content: space-around; border: 1px solid red;border-radius: 7px;">

                <hr
                  style="border: 0.04px solid black;opacity: 40%; position: absolute; margin-top: 5px; width: 100px;">
                <hr
                  style="border: 0.04px solid black;opacity: 40%; position: absolute; margin-top: 10px; width: 100px;">
                <hr
                  style="border: 0.04px solid black;opacity: 40%; position: absolute; margin-top: 15px; width: 100px;">
                <hr
                  style="border: 0.04px solid black;opacity: 40%; position: absolute; margin-top: 20px; width: 100px;">
                <hr
                  style="border: 0.04px solid black;opacity: 40%; position: absolute; margin-top: 25px; width: 100px;">
                <hr
                  style="border: 0.04px solid black;opacity: 40%; position: absolute; margin-top: 30px; width: 100px;">
                <hr
                  style="border: 0.04px solid black;opacity: 40%; position: absolute; margin-top: 35px; width: 100px;">

                <hr
                  style="border: 0.04px solid black;opacity: 50%; position: absolute; margin-top: 5px; width: 70px;  transform: rotate(20deg);">
                <hr
                  style="border: 0.04px solid black;opacity: 50%; position: absolute; margin-top: 10px; width: 100px; transform: rotate(20deg);">
                <hr
                  style="border: 0.04px solid black;opacity: 50%; position: absolute; margin-top: 15px; width: 100px; transform: rotate(20deg);">
                <hr
                  style="border: 0.04px solid black;opacity: 50%; position: absolute; margin-top: 20px; width: 100px; transform: rotate(20deg);">
                <hr
                  style="border: 0.04px solid black;opacity: 50%; position: absolute; margin-top: 25px; width: 100px; transform: rotate(20deg);">
                <hr
                  style="border: 0.04px solid black;opacity: 50%; position: absolute; margin-top: 30px; width: 80px; transform: rotate(20deg);">
                <hr
                  style="border: 0.04px solid black;opacity: 50%; position: absolute; margin-top: 35px; width: 50px; transform: rotate(20deg);">

                <input type="button"
                  style="background-color: transparent; border: unset; font-size: 25px; transform: rotate(45deg);color: black;"
                  value="{{captcha.first_character}}">
                <input type="button"
                  style="background-color: transparent; border: unset; font-size: 25px; transform: rotate(-30deg);color: black;"
                  value="{{captcha.second_character}}">
              </div>
              <div>
                <input type="text" maxlength="2" minlength="2" id="captcha_value" name="captcha_value" style="max-width: 200px; height: 40px;border: 1px solid black; border-radius: 7px; background-color: white;color: black; text-align: center;"
                  class="mx-2 my-2" placeholder="Enter Captcha Here" required>
                  <input type="hidden" id="captcha_id" name="captcha_id" value="{{captcha.sno}}">
              </div>
            </div>
          </div>




          <button class="btn contBtn" type="submit">Send</button>
        </form>
      </div>
    </div>

    <!-- cont Img -->
    <div id="contImg" style="width: 40%; height:100%;">
      <img
        src="{% static 'theGurkul/img/contact_images/talk_experts.png' %}"
        alt=""
        style="width: 100%"
      />
    </div>
  </div>
</div>
{% endblock %}
