{% extends 'basic.html' %}
{% load static %}
{% block title %}
The Gurkul
{% endblock %}

{% block cssLink %}
{% static '/theGurkul/thegurkul/css/home.css' %}
{% endblock %}

{% block active_home %}
active
{% endblock %}
{% block body %}

<div class="social_icons">

  <div class="social_icon_div">
    <a href="https://www.facebook.com/profile.php?id=100066606020722&mibextid=ZbWKwL" class="upperSM h4"
      style="color:blue;"><i class="h1 ri-facebook-circle-fill my-0"></i>Facebook</a>
  </div>

  <div class="social_icon_div" style="top: 50px;">
    <a href="https://instagram.com/the_gurkul?igshid=NGExMmI2YTkyZg==" class="upperSM h4"
      style="color:rgb(251, 255, 0);"><i class="h1 ri-instagram-fill my-0"></i>Instagram</a>
  </div>

  <div class="social_icon_div" style="top: 100px;">
    <a href="https://twitter.com/thegurkul" class="upperSM h4" style="color:blue;"><i
        class="h1 ri-twitter-fill my-0"></i>Twitter</a>
  </div>

  <div class="social_icon_div" style="top: 150px;">
    <a href="https://youtube.com/@thegurkul" class="upperSM h4" style="color:rgb(255, 0, 0);"><i
        class="h1 ri-youtube-fill my-0"></i>Youtube</a>
  </div>

  <div class="social_icon_div" style="top: 200px;">
    <a href="https://t.me/+g4-B-h-BJrA4Y2Q1" class="upperSM h4" style="color: white;"><i
        class="h1 ri-telegram-fill my-0"></i>Telegram</a>
  </div>

  <div class="social_icon_div" style="top: 250px;">
    <a href="" class="upperSM h4" style="color: #00cfff;"><i class="h1 ri-linkedin-fill my-0"></i>Linkedin</a>
  </div>

</div>


<div class="img_slide_container_img_slide1" id="image_slide_container_img_slide1">
  {% for item in intro_slide_img %}
  <img src="media/{{item.img}}" alt="" id="slider_img_{{forloop.counter}}_img_slide1" class="slider_images_img_slide1">
  {% endfor %}
  <div class="slider_image_data_img_slide1">
    <div>
      {% for item in intro_slide_img %}
      <div class="slider_image_text_img_slide1" id="slider_image_text_{{forloop.counter}}_img_slide1">
        <div><b class="h4">{{item.about}}</b></div>
      </div>
      {% endfor %}
    </div>
    <div class="slider_image_indicators_img_slide1">
      {% for item in intro_slide_img %}
      <div class="slider_image_indicator_img_slide1" id="slider_image_indicator_{{forloop.counter}}_img_slide1">
      </div>
      {% endfor %}
    </div>
  </div>
  <button
    style="position: absolute;top: 50%; left: 10%; font-size: 40px; background-color: transparent;border: none; color: white;"
    id="img_slider_prev_img_slide1" class="image_slide_navigation_img_slide1">&lt;</button>
  <button
    style="position: absolute; top: 50%; right: 10%;font-size: 40px; background-color: transparent; border: none; color: white;"
    id="img_slider_next_img_slide1" class="image_slide_navigation_img_slide1">&gt;</button>
</div>

<div>
  <div class="gurkul_facility_cont_div">
    <div class="gurkul_facility_cont">
      <div class="gurkul_facility bg-secondary">
        <div>
          <i class="h1 fas fa-chalkboard-teacher text-warning"></i>
          <p class="h2 text-warning"><b>Result</b></p>
        </div>
      </div>
      <div class="gurkul_facility bg-danger">
        <div>
          <a href="/gurkul_test/test_series/GTA_test_index">
            <i class="h1 fas fa-file-alt text-info"></i>
            <p class="h2 text-info"><b>Test Series</b></p>
          </a>
        </div>
      </div>
      <div class="gurkul_facility bg-warning">
        <div>
          <i class="h1 fas fa-video text-danger"></i>
          <p class="h2 text-danger"><b>Videos, Lectures</b></p>
        </div>
      </div>
    </div>
  </div>



</div>


<div
  style="display: flex;justify-content: space-around; align-items: center;min-height: 800px;  background-image: linear-gradient(180deg,#fff,#f2df45,#66ff94);flex-wrap: wrap-reverse; padding: 50px 0px 50px 0px;">
  <div style="margin-right: 50px;">
    <img src="{% static '/theGurkul/thegurkul/img/homeImg/World_Connection _Monochromatic.png' %}" alt=""
      style="transform: scale(1.2);">
  </div>

  <div style="max-width: 650px; margin: 5px;">
    <div>
      <h1 style="padding: 10px; color: rgb(255, 0, 0);"><b>We welcomes you to The Gurkul, A place of technology ,
          education , and innovation. The Gurkul encompasses the best of infrastructure for the young learners.</b></h1>
      <h4 style="color: black;">
        Join <b class="text-danger"> The Gurkul </b> team accelerate your progress</h4>


      {% if user.is_authenticated %}

      <a href="/user/profile" style="text-decoration: none;"><button class="btn btn-success join_btn"
          style="display: flex; justify-content: center; align-items: center">
          <h2 class="join_head1" style="display: flex; justify-content: center; align-items: center">
            Go to Your Profile
          </h2>
        </button></a>

      {% else %}
      <a href="/user_login/" style="text-decoration: none;"><button class="btn btn-info join_btn"
          style="display: flex; justify-content: center; align-items: center">
          <h2 class="join_head1" style="display: flex; justify-content: center; align-items: center"><i
              class="fas fa-arrow-left mx-4"></i>
            <b>Join The Gurkul</b>
          </h2>
        </button></a>
      {% endif%}


    </div>
  </div>
</div>


<div
  style="display: flex;justify-content: center; align-items: center;min-height: 800px;  background-image: linear-gradient(180deg,#66ff94,#f2df45,#50ff00);flex-wrap: wrap; padding: 50px 0px 50px 0px;">
  <div style="max-width: 650px; margin: 5px;">
    <div>
      <h1 style="padding: 10px; color: blue;"><b> ''Our best Team's hard work make The Gurkul a best place for practice
          your skills and upgrade yourself step by step..''</b></h1>
      <h4 style="color: black;">
        Join GTA <b class="text-danger"> Test Series </b> to practice your skiils.</h4>
      <a href="/gurkul_test/test_series/GTA_test_index" style="text-decoration: none;">
        <button class="btn btn-dark" style="padding: 10px;">Explore <i class="fas fa-arrow-right"></i></button>
      </a>
    </div>
  </div>
  <div style="margin-left: 50px;">
    <img src="{% static '/theGurkul/thegurkul/img/homeImg/Team_work_Isometric.png' %}" alt=""
      style="transform: scale(1.2);">
  </div>
</div>


<!-- Gurkul Base-->
<div class="gurkul_base_thegurkul">
  <hr style="color: red; border: 2px solid #ff0000" />
  <div class="head_gurkul_base_thegurkul" style="display: flex; justify-content: center">
    <h1 class="text-warning">Gurkul Path</h1>
  </div>

  <div style="
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;
    " class="quote_div_thegurkul1">



    <div class="card bg-dark quote_div_thegurkul" style="width: 18rem">
      <i class="fas fa-microscope" id="quote_head_symbol_thegurkul" style="color: rgb(0, 255, 179)"></i>
      <div class="card-body">
        <i class="fas fa-quote-left fa-pull-left quote_symbol_thegurkul"></i>
        <p class="card-text gurkul_base_quote_thegurkul text-light">
          The Gurkul emphasizes on practical knowledge which is quite beneficial
          to build the concepts of the students.
        </p>
        <i class="fas fa-quote-right fa-pull-right quote_symbol_thegurkul"></i>
      </div>
    </div>


    <div class="card bg-dark quote_div_thegurkul" style="width: 18rem">
      <i class="fas fa-atlas" id="quote_head_symbol_thegurkul" style="color: rgb(255, 0, 221)"></i>
      <div class="card-body">
        <i class="fas fa-quote-left fa-pull-left quote_symbol_thegurkul"></i>
        <p class="card-text gurkul_base_quote_thegurkul text-light">
          Learning beyond classrooms through extra-curricular activities for
          all-round development.
        </p>
        <i class="fas fa-quote-right fa-pull-right quote_symbol_thegurkul"></i>
      </div>
    </div>
  </div>

  <div style="
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
  " class="quote_div_thegurkul2">


    <div class="card bg-dark quote_div_thegurkul" style="width: 18rem">
      <i class="fas fa-brain" id="quote_head_symbol_thegurkul" style="color: yellow"></i>
      <div class="card-body">
        <i class="fas fa-quote-left fa-pull-left quote_symbol_thegurkul"></i>
        <p class="card-text gurkul_base_quote_thegurkul text-light">
          Educating a person does not mean that he/she became a rich person. It
          means to do what is right and in the right way. That's what The Gurkul
          system teaches.
        </p>
        <i class="fas fa-quote-right fa-pull-right quote_symbol_thegurkul"></i>
      </div>
    </div>



    <div class="card bg-dark quote_div_thegurkul" style="width: 18rem">
      <i class="fas fa-spa" id="quote_head_symbol_thegurkul" style="color: rgb(47, 0, 255)"></i>
      <div class="card-body">
        <i class="fas fa-quote-left fa-pull-left quote_symbol_thegurkul"></i>
        <p class="card-text gurkul_base_quote_thegurkul text-light">
          The Gurkul is a contraction of Sanskrit word guru means teacher and kula
          mean family or home. Students(shishya) live away from their family but
          they get a new family. Gurkul includes humanity, deep thinking,
          respect, moral living, the importance of duty, science, non-violence,
          values, ethics, knowledge of application are well appreciated.
        </p>
        <i class="fas fa-quote-right fa-pull-right quote_symbol_thegurkul"></i>
      </div>
    </div>


  </div>
</div>


<div id="teams_slide" class="carousel slide carousel-fade" data-bs-ride="carousel"
  style="background-image: linear-gradient(black,rgb(129, 129, 129));">

  <div>
    <h1
      style="display: flex; justify-content: center; padding: 50px;text-shadow: 0px 0px 20px rgb(0, 0, 0); color: red;">
      Your
      Mentors</h1>
  </div>

  <div class="carousel-inner">

    {% for item in teachers|slice:":1" %}
    <div class="carousel-item active" style="background-color: transparent;">
      <div style="width: 100%; height: 100%; display: flex; justify-content: center;">
        <div class="card card_founders"
          style="margin: 0px 0px 110px 0px; padding: 70px 0px; display: flex; justify-content: space-around; flex-direction: unset;width: 90%; flex-wrap: wrap;background-color: rgb(71, 50, 50); max-width: 1300px;">

          <img src="media/{{item.img}}" class="card-img-top" alt="..."
            style="width: 300px; height: 400px; margin: 10px; border: 1px solid rgb(0, 0, 0); border-radius: 162px;box-shadow: 0px 0px 20px black;" />
          <div style="max-width: 735px; display: flex;justify-content: center; align-items: center;">

            <div class="my-2" style="margin: 2vw;">
              <div class="my-2">
                <h3 class="card-title text-warning" style="display: flex; justify-content: center; text-align: center;">
                  {{item.name}}</h3>
              </div>
              <div>
                <div>
                  <h5 class="card-text my-2 text-info"
                    style="display: flex; justify-content: center; text-align: center;">{{item.about}}</h5>
                </div>
                <div class="my-4">

                  <i class="fas fa-quote-left fa-pull-left quote_symbol_thegurkul " style="border: unset;"></i>
                  <p class="card-text text-light"
                    style="display: flex; justify-content: center; margin: unset; text-align: center;">{{item.quote}}
                  </p>
                  <i class="fas fa-quote-right fa-pull-right quote_symbol_thegurkul"></i>

                </div>
              </div>
            </div>
          </div>

        </div>
      </div>

    </div>
    {% endfor %}


    {% for item in teachers|slice:"1:" %}

    <div class="carousel-item" style="background-color: transparent;">
      <div style="width: 100%; height: 100%; display: flex; justify-content: center;">
        <div class="card card_founders"
          style="margin: 0px 0px 110px 0px; padding: 70px 0px; display: flex; justify-content: space-around; flex-direction: unset;width: 90%; flex-wrap: wrap;background-color: rgb(71, 50, 50); max-width: 1300px;">

          <img src="media/{{item.img}}" class="card-img-top" alt="..."
            style="width: 300px; height: 400px; margin: 10px; border: 1px solid rgb(0, 0, 0); border-radius: 162px;box-shadow: 0px 0px 20px black;" />
          <div style="max-width: 735px; display: flex;justify-content: center; align-items: center;">

            <div class="my-2" style="margin: 2vw;">
              <div class="my-2">
                <h3 class="card-title text-warning" style="display: flex; justify-content: center; text-align: center;">
                  {{item.name}}</h3>
              </div>
              <div>
                <div>
                  <h5 class="card-text my-2 text-info"
                    style="display: flex; justify-content: center;text-align: center;">{{item.about}}</h5>
                </div>
                <div class="my-4">

                  <i class="fas fa-quote-left fa-pull-left quote_symbol_thegurkul " style="border: unset;"></i>
                  <p class="card-text text-light"
                    style="display: flex; justify-content: center; margin: unset; text-align: center;">{{item.quote}}
                  </p>
                  <i class="fas fa-quote-right fa-pull-right quote_symbol_thegurkul"></i>


                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    {% endfor %}


  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#teams_slide" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#teams_slide" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>




<div class="visitor"
  style="width: 100%;min-height: 400px; display: flex; align-items: center; justify-content: center; background-image: linear-gradient(60deg,rgb(63, 63, 63),rgb(9, 63, 9));">

  <div style="width: 100%;">

    <div style="width: 100%;">
      <h1 style="display: flex; justify-content: center;"><i class="fas fa-users"
          style="font-size: 130px; color: rgb(238, 255, 0);"></i></h1>
    </div>

    <div style="display: flex; justify-content: center; align-items: center; width: 100%;">

      <div class="count_box_thegurkul6 count_box_thegurkul">
        <div id="count_box_thegurkul6">
          <p id="count_number_thegurkul0" class="count_number_thegurkul">0</p>
        </div>
      </div>

      <div class="count_box_thegurkul5 count_box_thegurkul">
        <div id="count_box_thegurkul5">
          <p id="count_number_thegurkul1" class="count_number_thegurkul">0</p>
        </div>
      </div>

      <div class="count_box_thegurkul4 count_box_thegurkul">
        <div id="count_box_thegurkul4"></div>
        <p id="count_number_thegurkul2" class="count_number_thegurkul">0</p>
      </div>

      <div class="count_box_thegurkul3 count_box_thegurkul">
        <div id="count_box_thegurkul3"></div>
        <p id="count_number_thegurkul3" class="count_number_thegurkul">0</p>
      </div>

      <div class="count_box_thegurkul2 count_box_thegurkul">
        <div id="count_box_thegurkul2"></div>
        <p id="count_number_thegurkul4" class="count_number_thegurkul">0</p>
      </div>

      <div class="count_box_thegurkul1 count_box_thegurkul">
        <div id="count_box_thegurkul1"></div>
        <p id="count_number_thegurkul5" class="count_number_thegurkul">0</p>
      </div>

      <div class="count_box_thegurkul_plus count_box_thegurkul"
        style="background-color: transparent;border-color: transparent; box-shadow: unset;">
        <p
          style="color: red; font-size: 115px;display: flex;justify-content: center;align-items: center;width: 100%;height: 100%;">
          +</p>
      </div>

    </div>


  </div>

</div>


<div class="founders">

  <div>
    <div class="director">
      <img src="{% static 'theGurkul/thegurkul/img/homeImg/owner/ramsuraj_transparent.png' %}" alt=""
        style="max-width: 100%;" class="director_img">
      <div>
        <div style="display: flex; justify-content:center; align-items:center;">
          <pre>  <h2 class="card-title"><b>Director and Founder</b></h2>
              <h4 class="card-text text-danger" style="display: flex; justify-content:center; align-items:center;
              box-shadow: 0px 0px 10px red;"><b>Mr. Ram Suraj Gupta</b></h4>
            </pre>
        </div>
      </div>
    </div>
  </div>
  <div class="co-director">
    <div>
      <div style="display: flex; justify-content:center; align-items:center;">
        <pre>  <h2 class="card-title"><b>Co-Director and Founder</b></h2>
            <h4 class="card-text" style="display: flex; justify-content:center; align-items:center; box-shadow: 0px 0px 10px rgb(0, 17, 255);color: #002fff;"><b>Mr. Sanjay Gupta</b></h4>
            </pre>
      </div>
    </div>
    <img src="{% static 'theGurkul/thegurkul/img/homeImg/owner/sanjay.png' %}" alt="" style="max-width: 100%;"
      class="director_img">
  </div>

</div>





{% endblock %}
{% block jsLink %}
{% static '/theGurkul/thegurkul/js/home.js' %}
{% endblock %}