{% extends 'gurkul_test/gta_basic.html' %}

{% block gta_title %}
NEW ADD GTA QUESTIONS
{% endblock %}

{% block gta_navigate_add_questions %}
gta_navigate_add_questions_active
{% endblock %}

{% block gta_css %}
<style>
    /* css for msg */
    #absoluteMsg_outer {
        display: grid;
        grid-template-columns: 70px 1fr 20px;
        background-color: #bdbdbd;
        position: fixed;
        bottom: 2%;
        right: 2%;
        width: 400px;
        align-items: center;
        justify-items: center;
        padding: 10px;
        border: 2px solid red;
        border-radius: 10px;
        visibility: hidden;
        z-index: 1000;
    }

    .absoluteMsg_outer_incoming {
        animation-name: absoluteMsg_outer_incoming;
        animation-duration: 1s;
    }

    @keyframes absoluteMsg_outer_incoming {
        from {
            right: 100%;
        }

        to {
            right: 2%;
        }
    }

    #msg_bell {
        animation-name: msg_bell_anim;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }

    @keyframes msg_bell_anim {
        from {
            font-size: 50px;
            color: blue;
        }

        to {
            font-size: 65px;
            color: red;
        }
    }
</style>

{% endblock %}

{% block gta_body %}


<div id="absoluteMsg_outer">
    <div style="height: 65px; width: 65px; display: flex; justify-content: center; align-items: center;"><i
            id="msg_bell" class="fas fa-bell" style="color: red; font-size: 65px;"></i></div>
    <div>
        <p id="show_msg"></p>
    </div>
    <div id="hide_msg" onmouseenter="this.style.color='red';" onmouseleave="this.style.color='white';"><i
            class="	fas fa-angle-double-right" style="font-size: 20px; cursor: pointer;"></i></div>

</div>

<div class="gta_container">

    {% csrf_token %}
    <div>
        <div id="display_fields">
            <form
                style="margin: 10px; padding: 10px; background-image: linear-gradient(90deg,rgb(97, 72, 72),rgb(0, 0, 163),green); border: 2px solid red; border-radius: 8px;"
                id="gta_questions_form"> {% csrf_token %}


                <div
                    style="background-color: black; padding: 10px;border:1px solid red; border-radius:8px; display: flex;">
                    <p style="display: inline-block; color: white; margin: 0px;font-size: 22px;">Question UIN: {{generated_form_options.id}}</p>
                    <p id="current_question_id" style="display: inline-block; color: red; margin: 0px 0px 0px 10px;font-size: 22px;">
                        </p>

                    <input type="hidden" data-status="new" data-qid="{{generated_form_options.id}}" id="form_status">

                </div>

                <div class="row g-3 my-2">

                    <div class="col-md-6">
                        <label for="input_category" class="form-label text-light">Choose Category</label>
                        <select id="input_category" class="form-select">
                            <option value="" selected>Choose...</option>

                            {% for item in generated_form_options.category %}
                            <option value="{{item.0}}">{{item.1}}</option>
                            {% endfor %}

                        </select>
                    </div>

                    <div class="col-md-6">
                        <label for="input_language" class="form-label text-light">Choose Language</label>
                        <select id="input_language" class="form-select">
                            <option value="" selected>Choose...</option>

                            {% for item in generated_form_options.language %}
                            <option value="{{item.0}}">{{item.1}}</option>
                            {% endfor %}


                        </select>
                    </div>
                </div>

                <div class="row g-3 my-2">

                    <div class="col-md-6">
                        <label for="input_board" class="form-label text-light">Choose Board</label>
                        <select id="input_board" class="form-select">
                            <option value="Other" selected>Other</option>

                            {% for item in generated_form_options.board %}
                            <option value="{{item.0}}">{{item.1}}</option>
                            {% endfor %}

                        </select>
                    </div>

                    <div class="col-md-6">
                        <label for="input_standard" class="form-label text-light">Choose Standard</label>
                        <select id="input_standard" class="form-select">
                            <option value="" selected>Choose...</option>

                            {% for item in generated_form_options.standard %}
                            <option value="{{item.0}}">{{item.1}}</option>
                            {% endfor %}


                        </select>
                    </div>
                </div>

                <div class="row g-3 my-2">

                    <div class="col-md-6">
                        <label for="input_subject" class="form-label text-light">Choose Subject</label>
                        <select id="input_subject" class="form-select">
                            <option value="" selected>Choose...</option>

                            {% for item in generated_form_options.subject %}
                            <option value="{{item.0}}">{{item.1}}</option>
                            {% endfor %}


                        </select>
                    </div>

                    <div class="col-md-6">
                        <label for="input_qtype" class="form-label text-light">Choose Question Type</label>
                        <select id="input_qtype" class="form-select">
                            <option value="" selected>Choose...</option>

                            {% for item in generated_form_options.qtype %}
                            <option value="{{item.0}}">{{item.1}}</option>
                            {% endfor %}


                        </select>
                    </div>
                </div>

                <div class="form-floating my-4">
                    <textarea class="form-control" placeholder="Type your question here" id="input_question"
                        style="height: 200px" required></textarea>
                    <label for="input_question">Type your question here</label>
                </div>

                <div style="background-color: #414141; padding: 10px; border: 1px solid black; border-radius: 8px;">

                    <div class="row">
                        <div class="input-group my-2 col">
                            <h3 style="margin: 0px 10px 0px 10px;" class="text-light">(A)</h3>
                            <div class="input-group-text">
                                <input class="form-check-input mt-0" type="radio" id="radio_option_1" id="radio_option_A" value="A"
                                    name="option_for_question">
                            </div>
                            <input type="text" class="form-control" id="input_option_1"
                                style="border: 2px solid transparent; border-radius: 8px;">

                        </div>

                        <div class="input-group my-2 col">
                            <h3 style="margin: 0px 10px 0px 10px;" class="text-light">(B)</h3>
                            <div class="input-group-text">
                                <input class="form-check-input mt-0" type="radio" id="radio_option_2" id="radio_option_B" value="B"
                                    name="option_for_question">
                            </div>
                            <input type="text" class="form-control" id="input_option_2"
                                style="border: 2px solid transparent; border-radius: 8px;">

                        </div>

                    </div>

                    <div class="row">
                        <div class="input-group my-2 col">
                            <h3 style="margin: 0px 10px 0px 10px;" class="text-light">(C)</h3>
                            <div class="input-group-text">
                                <input class="form-check-input mt-0" type="radio" id="radio_option_3" id="radio_option_C" value="C"
                                    name="option_for_question">
                            </div>
                            <input type="text" class="form-control" id="input_option_3"
                                style="border: 2px solid transparent; border-radius: 8px;">

                        </div>

                        <div class="input-group my-2 col">
                            <h3 style="margin: 0px 10px 0px 10px;" class="text-light">(D)</h3>
                            <div class="input-group-text">
                                <input class="form-check-input mt-0" type="radio" id="radio_option_4" id="radio_option_D" value="D"
                                    name="option_for_question">
                            </div>
                            <input type="text" class="form-control" id="input_option_4"
                                style="border: 2px solid transparent; border-radius: 8px;">

                        </div>
                        <div>

                            <div class="form-floating my-4">
                                <textarea class="form-control" placeholder="Type your answer here" id="input_answer"
                                    style="height: 100px" required></textarea>
                                <label for="input_answer">Type your answer here</label>

                            </div>

                        </div>

                        <div class="my-2" style="display:flex; justify-content: end; align-items: center;">
                            <button type="submit" class="btn btn-warning">Submit</button>
                        </div>
            </form>
        </div>

    </div>

</div>

<div class="container-fluid">
    
    <div class="container" id="all_filtered_question">

    </div>
    <div style="display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0px 50px 0px;">
        <button class="btn btn-dark" style="display: none;" id="more_questions" data-more_questions="0" data-category="" data-language="" data-board="" data-standard="" data-subject="" data-qtype="">Show More Questions +</button>
    </div>
</div>


{% endblock %}

{% block gta_js %}
<script>
    $(document).ready(function () {

        function show_message(msg) {
            $('#absoluteMsg_outer').css('visibility', 'unset')
            $('#absoluteMsg_outer').addClass('absoluteMsg_outer_incoming')
            $('#show_msg').text(msg)

        }

        $('#hide_msg').click(function () {
            $('#absoluteMsg_outer').css('visibility', 'hidden')
            $('#absoluteMsg_outer').removeClass('absoluteMsg_outer_incoming')
        })

        function update_question_id_in_form(){
            $.ajax({
                url:'/gurkul_test/test_series/GTA_questions/get__GTA_question_form',
                type:'post',
                data:{
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    get_empty_question_id:'True'
                },

                success: function(data){
                    $('#current_question_id').text(data.next_id)
                }
            })
        }

        function show_questions(question_category, language, board, standard, subject, qtype, total_len) {
            $.ajax({
                url: '/gurkul_test/test_series/GTA_questions/return_gta_question',
                type: 'post',
                data: {
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    input_category: question_category,
                    input_language: language,
                    input_board: board,
                    input_standard: standard,
                    input_subject: subject,
                    input_qtype: qtype,

                },

                success: function (data) {
                    questions = data.all_question
                    
                    lst_question = `<div style="display: grid; grid-template-columns: 1fr 1fr 1fr 1fr  1fr; background-image: linear-gradient(90deg,black,red,green,black); width: 100%; min-height: 60px;justify-items: center;align-items: center;padding:10px;border:1px solid black; border-radius:8px;">
                    
                        <div><p id="show_lang" class="btn btn-primary" style="margin: 0px;">Language: </p></div>
                        <div><p id="show_board" class="btn btn-primary" style="margin: 0px;">Board: </p></div>
                        <div><p id="show_standard" class="btn btn-primary" style="margin: 0px;">Standard: </p></div>
                        <div><p id="show_subject" class="btn btn-primary" style="margin: 0px;">Subject: </p></div>
                        <div><p id="show_qtype" class="btn btn-primary" style="margin: 0px;">Question Type: </p></div>
                    
                        </div>`;

                    if (questions.length < total_len){
                        questions_length=questions.length
                    }
                    else{
                        questions_length=total_len
                    }

                    var iter=0

                    if (qtype=='MCQ'){
                        for (let index = 0; index < questions_length; index++) {
                            const element = questions[index];
                            iter++

                        lst_question += `
                                <div
                                style="background-color: yellow; padding: 10px; border: 2px solid red;      border-radius: 10px; margin: 30px 0px 0px 0px; box-shadow: 0px 0px 20px red;">

                                <div style="display: grid; grid-template-columns: 40px 1fr 130px;padding: 10px; background-color: #f600ff; border: 1px solid black;       border-radius: 8px;">
                                    <div>
                                        <h5 ><b style="color: black;">${index + 1}. </b></h5>
                                    </div>
                                    <div>
                                        <p style="color: rgb(0, 0, 0); font-size: 18px;">${element.question}</p>
                                    </div>

                                    <div style="display:flex; align-items:end;">
                                        <h5 ><b style="color: #ffeb00;"> ${element.id}</b></h5>
                                    </div>


                                </div>
                                <div
                                style="display: grid; grid-template-columns: 1fr 1fr;       grid-template-rows: 1fr 1fr; padding: 10px; grid-column-gap: 10px;">
                                <div style="display: grid; grid-template-columns: 50px 1fr;         background-color: blue;
                                color: white;
                                align-items: center;
                                border: 1px solid red;
                                border-radius: 9px;
                                margin-bottom: 10px;
                                    padding: 10px;
                                ">
                                        <div>
                                            <h5 style=" margin: 0px;">(A)</h5>
                                        </div>
                                        <div>
                                            <p style="font-size: 17px; margin: 0px;">${element.option_1}
                                                </p>
                                        </div>
                                    </div>
                                    <div style="display: grid; grid-template-columns: 50px 1fr;         background-color: blue;
                                    color: white;
                                    align-items: center;
                                    border: 1px solid red;
                                    border-radius: 9px;
                                    margin-bottom: 10px;
                                    padding: 10px;
                                ">
                                <div>
                                            <h5  style=" margin: 0px;">(B)</h5>
                                        </div>
                                        <div>
                                            <p style="font-size: 17px; margin: 0px;">${element.option_2}
                                                </p>
                                        </div>
                                    </div>
                                    <div style="display: grid; grid-template-columns: 50px 1fr;         background-color: blue;
                                    color: white;
                                    align-items: center;
                                    border: 1px solid red;
                                    border-radius: 9px;
                                    margin-bottom: 10px;
                                padding: 10px;
                            ">
                                    <div>
                                        <h5 style=" margin: 0px;">(C)</h5>
                                        </div>
                                        <div>
                                            <p style="font-size: 17px; margin: 0px;">${element.option_3}
                                                </p>
                                    </div>
                                    </div>
                                <div style="display: grid; grid-template-columns: 50px 1fr;      background-color: blue;
                                color: white;
                                align-items: center;
                                border: 1px solid red;
                                border-radius: 9px;
                                margin-bottom: 10px;
                                padding: 10px;
                            ">
                                    <div>
                                        <h5 style=" margin: 0px;">(D)</h5>
                                        </div>
                                    <div>
                                        <p style="font-size: 17px; margin: 0px;">${element.option_4}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="edit_btn_div" style="display: flex; justify-content: space-between; align-items:center;">

                                <div>
                                    <p style="background-color: white; color: red; font-size: 20px;  padding: 7px; border: 1px solid red; border-radius: 7px; margin:         0px;">Correct Answer: <b> ${element.answer_option}</b></p>
                                </div>
                                <div>
                                    <button class="btn btn-danger btn_edit" data-qid="${element.id}">Edit</   button>
                                        </div>
                                        
                                        </div>
                                        
                                        </div>
                                        
                                        `
                                    }

                                    }

                        else if (qtype=='STQ' || qtype=='LTQ' || qtype=='VLTQ'){

                            for (let index = 0; index < questions_length; index++) {
                            const element = questions[index];
                            iter++

                        lst_question += `
                                <div
                                style="background-color: yellow; padding: 10px; border: 2px solid red;      border-radius: 10px; margin: 30px 0px 0px 0px; box-shadow: 0px 0px 20px red;">

                                <div style="display: grid; grid-template-columns: 40px 1fr 130px;padding: 10px; background-color: #f600ff; border: 1px solid black;border-radius: 8px;">
                                    <div>
                                        <h5 ><b style="color: black;">${index + 1}. </b></h5>
                                    </div>
                                    <div>
                                        <p style="color: rgb(0, 0, 0); font-size: 18px;">${element.question}</p>
                                    </div>

                                    <div style="display:flex; align-items:end;">
                                        <h5 ><b style="color: #ffeb00;"> ${element.id}</b></h5>
                                    </div>


                                </div>
                        
                            <div class="edit_btn_div"  style="display: flex; justify-content: space-between; align-items:center; margin-top:10px;">

                                <div>
                                    <p style="background-color: white; color: red; font-size: 20px;  padding: 7px; border: 1px solid red; border-radius: 7px; margin:         0px;">Correct Answer: <b> ${element.answer_option}</b></p>
                                </div>
                                <div>
                                    <button class="btn btn-danger btn_edit" data-qid="${element.id}">Edit</button>
                                        </div>
                                        
                                        </div>
                                        
                                        </div>
                                        
                                        `
                                    }

                        }

                    // filling all question in html tag
                    $('#all_filtered_question').html(lst_question)
                    
                    $('#show_lang').text(`Language: ${language}`)
                    $('#show_board').text(`Board: ${board}`)
                    $('#show_standard').text(`Standard: ${standard}`)
                    $('#show_subject').text(`Subject: ${subject}`)
                    $('#show_qtype').text(`Question Type: ${qtype}`)
                    
                    // code to hide/unhide show more question initiall logically
                    var int_len=parseInt(total_len)+10
                    if (questions.length > total_len && iter+1<questions.length){
                        if (int_len<parseInt(data.questions_len)){
                            $('#more_questions').attr('data-more_questions',`${int_len}`)
                        
                            }
                        else {
                            $('#more_questions').attr('data-more_questions',data.questions_len)
                            }

                            $('#more_questions').css('display','unset')
                            $('#more_questions').attr('data-category',question_category)
                            $('#more_questions').attr('data-language',language)
                            $('#more_questions').attr('data-board',board)
                            $('#more_questions').attr('data-standard',standard)
                            $('#more_questions').attr('data-subject',subject)
                            $('#more_questions').attr('data-qtype',qtype)

                        
                    }

                }


            })


        }

        $('#display_fields').on('submit', '#gta_questions_form', function (e) {
            e.preventDefault()

            form_status = $('#form_status').attr('data-status')
            qid = $('#form_status').attr('data-qid')

            $.ajax({
                url: '/gurkul_test/test_series/GTA_questions/get__GTA_question_form',
                type: 'post',
                data: {
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    form_status: form_status,
                    qid: qid,
                    input_category: $('#input_category').val(),
                    input_language: $('#input_language').val(),
                    input_board: $('#input_board').val(),
                    input_standard: $('#input_standard').val(),
                    input_subject: $('#input_subject').val(),
                    input_qtype: $('#input_qtype').val(),

                    // question value
                    input_question: $('#input_question').val(),

                    radio_option: $("input[type='radio'][name='option_for_question']:checked").val(),

                    // options value
                    input_option_1: $('#input_option_1').val(),

                    input_option_2: $('#input_option_2').val(),

                    input_option_3: $('#input_option_3').val(),

                    input_option_4: $('#input_option_4').val(),

                    // answer input
                    input_answer: $('#input_answer').val(),

                },

                success: function (data) {
                    msg = data.status['msg']
                    show_message(msg)
                    code = data.status['code']
                    if (code == 200) {
                        show_questions(data.input_category, data.input_language, data.input_board, data.input_standard, data.input_subject, data.input_qtype, 5)
                        
                        $('#form_status').attr('data-status','new')
                        $('#form_status').attr('data-qid',0)
                        $('#input_question').val('')
                        $('#radio_option_1').prop('checked',false)
                        $('#radio_option_2').prop('checked',false)
                        $('#radio_option_3').prop('checked',false)
                        $('#radio_option_4').prop('checked',false)
                        $('#input_option_1').val('')
                        $('#input_option_2').val('')
                        $('#input_option_3').val('')
                        $('#input_option_4').val('')
                        $('#input_option_4').val('')
                        $('#input_answer').val('')
                        update_question_id_in_form()



                    }


                }
            })

        })

        // show_questions('Acad','Hindi','UPBoard','12','Physics','MCQ',10)

        // code for showing more questions
        $('#more_questions').click(function(){
            len=$(this).attr('data-more_questions')
            category=$(this).attr('data-category')
            language=$(this).attr('data-language')
            board=$(this).attr('data-board')
            standard=$(this).attr('data-standard')
            subject=$(this).attr('data-subject')
            qtype=$(this).attr('data-qtype')
            show_questions(category,language,board,standard,subject,qtype,len)
        })

        function get_question_with_id(id){
            $.ajax({
                url:'/gurkul_test/test_series/GTA_questions/return_question_with_id',
                type:'post',
                data: {
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    qid:id
                },
                success: function(data){
                    window.scrollTo(0,0)
                    var question=data.question
                    $('#current_question_id').text(question[0].id)
                    $('#form_status').attr('data-status','old')
                    $('#form_status').attr('data-qid',question[0].id)
                    $(`#input_category option[value='${question[0].question_category}']`).attr('selected','selected')
                    $(`#input_language option[value='${question[0].language}']`).attr('selected','selected')
                    $(`#input_board option[value='${question[0].board}']`).attr('selected','selected')
                    $(`#input_standard option[value='${question[0].standard}']`).attr('selected','selected')
                    $(`#input_subject option[value='${question[0].subject}']`).attr('selected','selected')
                    $(`#input_qtype option[value='${question[0].qtype}']`).attr('selected','selected')
                    $('#input_question').val(question[0].question)
                    $(`#radio_option_${question[0].answer_option}`).prop('checked',true)
                    $('#input_option_1').val(question[0].option_1)
                    $('#input_option_2').val(question[0].option_2)
                    $('#input_option_3').val(question[0].option_3)
                    $('#input_option_4').val(question[0].option_4)
                    $('#input_option_4').val(question[0].option_4)
                    $('#input_answer').val(question[0].answer)

                }
            })
        }

        $('#all_filtered_question').on('click','.btn_edit',function(e){
        var id=$(this).attr('data-qid')
        get_question_with_id(id)

          })


    })
</script>
<script>
    // blocking unusual inputs
    // $('#display_fields').on('click','#input_category',function(){

    // })

$(document).ready(function(){

    $('#input_category').click(function(){
        category_val=$('#input_category').val()
        if(category_val=='Comp'){
            $('#input_board').val('Other')
            $('#input_board').prop('disabled',true)
        }
        if(category_val=='Acad' || category_val=='Other'){
            $('#input_board').prop('disabled',false)
        }
    })

    $('#input_qtype').click(function(){
        qtype_val=$(this).val()  
        if(qtype_val=='STQ' || qtype_val=='LTQ' || qtype_val=='VLTQ'){
            for (let index = 1; index < 5; index++) {
                $(`#input_option_${index}`).prop('disabled',true)
                $(`#radio_option_${index}`).prop('checked',false)
                $(`#radio_option_${index}`).prop('disabled',true)
            }
            $("input[type='radio'][name='option_for_question']:checked").val('Other')
        } 
        else if(qtype_val=='MCQ'){
            for (let index = 1; index < 5; index++) {
                $(`#input_option_${index}`).prop('disabled',false)
                $(`#radio_option_${index}`).prop('disabled',false)
            }
        } 
    
    })


})

</script>
{% endblock %}